[tool.black]
# Changed line-length to 100 from the default 88
line-length = 100 
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
experimental-string-processing = true
'''